body {
    background-color: #EEEEEE;
    font-family: 'Segoe UI';
}

article {
    background-color: #ffffff;
    border: 1px solid #999999;
    padding: 15px;
    overflow: auto;
    width: 400px;
    margin: 40px 0 30px 0;
}

h2 {
    font-weight: lighter;
}

p {
    width: 200px;
}

a {
    text-decoration: none;
    font-weight: 900;
    color: #2E2E2E;
}

img {
    float: left;
    border: 1px solid #999999;
}

.article-content {
    float: left;
    margin-left: 20px;
    width: 220px;
}

.btn-div {
    float: right;
    display: inline;
}

