p {
    font-family: Consolas;
    color: #0094ff;
    font-size: 16px;
}

    p::first-line {
        font-weight: bold;
        line-height: 36px
    }

    p::first-letter { 
    font-family: 'Edwardian Script ITC';
    font-size: 300%
}
